<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>cy.ac.ucy.library.mac.userstartup</string>
    <key>ProgramArguments</key>
    <!-- Full Path to the Script File. -->
    <array>
          <string>/bin/sh</string>
          <string>/Users/admin/scripts/login.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
